name: "Programming JOKE"
on:
  schedule:
    - cron: "0,30 * * * *"
  

jobs:
  Make_Tweet:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: Install the dependencies
        run: pip install -r requirements.txt

      - name: Make the tweet
        run: python main.py
        env:
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          TOKEN_SECRET: ${{ secrets.TOKEN_SECRET }}
          CONSUMER_KEY: ${{ secrets.CONSUMER_KEY }}
          CONSUMER_SECRET: ${{ secrets.CONSUMER_SECRET }}
    
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_user_email: "codewithpom@gmail.com"
          commit_user_name: "codewithpom"
